n8n/outfit-filter-workflow.json
{
  "name": "전신 코디(Outfit) 이미지 자동 필터링 워크플로우 (최종 완성본)",
  "description": "admin inspection AI workflow",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "outfit-filter",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 0],
      "webhookId": "82aae4fc-e009-4e6a-95f1-ffcd45b75f2f"
    },
    {
      "parameters": {
        "url": "={{$node[\"Webhook\"].json.body.imageUrl.trim()}}",
        "options": {}
      },
      "id": "download-image",
      "name": "HTTP Request (Image Download)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [208, 0]
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "너는 패션 매거진의 매우 엄격한 이미지 검수자야.\n1. 사진에 실제 '사람(모델)'이 보이지 않으면 무조건 'AI_FLAGGED'야.\n2. 신발, 가방, 옷만 덩그러니 놓여 있는 '바닥 컷'이나 '제품 단독 샷'은 절대로 통과시키지 마.\n3. 오직 사람이 직접 옷을 입고 있는 '전신' 또는 '착용 모습'이 보일 때만 'AI_PASSED'로 설정해.\n결과를 아래 JSON 형식으로만 답해:\n{\"status\": \"AI_PASSED\" 또는 \"AI_FLAGGED\", \"aiComment\": \"이유(50자 이내)\"}",
        "inputType": "binary",
        "options": {}
      },
      "id": "analyze-image",
      "name": "Analyze an image",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [400, 0],
      "retryOnFail": false,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "executeOnce": true,
      "credentials": {
        "googlePalmApi": {
          "id": "gGchfui04kDcGxa8",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const webhookData = $('Webhook').first().json;\nconst geminiText = $input.first().json.content.parts[0].text;\n\n// Remove markdown code block if present\nconst cleaned = geminiText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\nconst parsed = JSON.parse(cleaned);\n\nreturn [{\n  json: {\n    imageId: webhookData.body.cardImageId,\n    status: parsed.status,\n    comment: parsed.aiComment\n  }\n}];"
      },
      "id": "set-result",
      "name": "Parse Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [608, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/i/v1/inspections/callback",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "imageId",
              "value": "={{$json.imageId}}"
            },
            {
              "name": "status",
              "value": "={{$json.status}}"
            },
            {
              "name": "comment",
              "value": "={{$json.comment}}"
            }
          ]
        },
        "options": {}
      },
      "id": "99ce9546-58fa-4484-87b5-8f176189bf71",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [816, 0]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "HTTP Request (Image Download)", "type": "main", "index": 0}]]
    },
    "HTTP Request (Image Download)": {
      "main": [[{"node": "Analyze an image", "type": "main", "index": 0}]]
    },
    "Analyze an image": {
      "main": [[{"node": "Parse Result", "type": "main", "index": 0}]]
    },
    "Parse Result": {
      "main": [[{"node": "HTTP Request", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v1"
  }
}
